In [26]:
import pandas as pd

In [27]:
df = pd.read_csv("./data/markets_raw/eth_cbbtc_usdc.csv")
markets_meta = pd.read_csv("./data/common/markets_meta.csv")
markets_meta = markets_meta.rename(columns={
    "address": "market_address",
})
df.head(2)

,hash,type,timestamp,user_address,assets,assets_usd,market,datetime,market_address
0,0x55b1f9bfe77fa41b9f74b6949024ed40c61fda35554c...,MarketSupply,1726145495,0x29d4CDFee8F533af8529A9e1517b580E022874f7,1000000,0.999934,eth_cbbtc_usdc,2024-09-12 12:51:35,0x64d65c9a2d91c36d56fbc42d69e979335320169b3df6...
1,0x55b1f9bfe77fa41b9f74b6949024ed40c61fda35554c...,MarketSupplyCollateral,1726145495,0x29d4CDFee8F533af8529A9e1517b580E022874f7,5000,2.903950,eth_cbbtc_usdc,2024-09-12 12:51:35,0x64d65c9a2d91c36d56fbc42d69e979335320169b3df6...

In [28]:
markets_meta.head(2)

,market_address,lltv,oracle_address,creation_datetime,loan_asset_address,loan_asset_symbol,loan_asset_decimals,collateral_asset_address,collateral_asset_symbol,collateral_asset_decimals,network
0,0xfff517c4ca7bb55befaacc7a17633d1e95dc748df37b...,980000000000000000,0xb5f856E6978b009A75f8E5197e7cf29Bc822181f,2025-04-22 21:11:11,0xcbB7C0000aB88B473b1f5aFd9ef808440eed33Bf,cbBTC,8,0xDa1C2c3C8FaD503662e41E324FC644Dc2c5e0CCD,GMORPHO,18,base
1,0xfff1970c0ffae288764186fbb38a9171a17e98676744...,965000000000000000,0xd6154930A8df0A488Fae08547E53221B572EEA37,2025-01-06 11:25:59,0xA0b86991c6218b36c1d19D4a2e9Eb0cE3606eB48,USDC,6,0x4cE9c93513DfF543Bc392870d57dF8C04e89Ba0a,ysUSDS,18,eth

In [29]:
df.merge(
    markets_meta[[
        "market_address",
        "oracle_address",
    ]],
    on="market_address",
    how="left",
).isna().sum()

hash               0
type               0
timestamp          0
user_address       0
assets             0
assets_usd        73
market             0
datetime           0
market_address     0
oracle_address     0
dtype: int64